name: Deploy PHP App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Clonar el repositorio
        uses: actions/checkout@v3

      - name: 游 Copiar archivos al servidor con puerto SSH personalizado
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}  # Usa la contrase침a en lugar de key
          port: ${{ vars.SERVER_SSH_PORT }}
          source: "."
          target: "/var/www/php-docker-ci-cd"

      - name: 游닍 Construir y desplegar con Docker Compose usando puerto SSH personalizado
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}  # Usa la contrase침a en lugar de key
          port: ${{ vars.SERVER_SSH_PORT }}
          script: |
            cd /var/www/php-docker-ci-cd
            docker-compose down
            docker-compose up -d --build
            echo "Aplicaci칩n desplegada en http://${{ secrets.SERVER_IP }}:8085"
